[Unit]
Description=temperature
After=network.target

[Service]
ExecStart=/bin/bash /opt/temperature/scripts/start.sh
WorkingDirectory=/opt/temperature
StandardOutput=inherit
StandardError=inherit
Restart=always
User=temperature

[Install]
WantedBy=multi-user.target
