#recorder {
    height: 56px;
    margin: 0px 12px 0px 0px;
    fill: white;
}

#left {
    transform-origin: 580px 1300px;
    animation-duration: 10s;
    animation-name: rotateGear;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#right {
    transform-origin: 1650px 1300px;
    animation-duration: 10s;
    animation-name: rotateGear;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.paused{
    animation-play-state: paused;
}

.running{
    animation-play-state: running;
}

@keyframes rotateGear {
    to {
        transform: rotate(360deg);
    }
}
